/*  HERE TO ADDING MORE STYLE WITH BOOSTRAP */
#global{ margin-left: auto;margin-right: auto;width:1200px;}
h1.titre{font-size: 12px; line-height: 12px; text-align: center; display: none; }

.margin-left-small{margin-left: 5px;}
.margin-left-medium{margin-left: 10px;}
.margin-left-large{margin-left: 20px;}

.margin-right-small{margin-right: 5px;}
.margin-right-medium{margin-right: 10px;}
.margin-right-large{margin-right: 20px;}

.margin-top-small{margin-top: 5px;}
.margin-top-medium{margin-top: 10px;}
.margin-top-large{margin-top: 20px;}

.margin-small{margin: 5px;}
.margin-medium{margin: 10px;}
.margin-large{margin: 20px;}

.padding-left-small{padding-left: 5px;}
.padding-left-medium{padding-left: 10px;}
.padding-left-large{padding-left: 20px;}

.padding-right-small{padding-right: 5px;}
.padding-right-medium{padding-right: 10px;}
.padding-right-large{padding-right: 20px;}

.padding-small{padding: 5px;}
.padding-medium{padding: 10px;}
.padding-large{padding: 20px;}

#msp_frontendbundle_questiontype_reponses > div, #msp_userbundle_usertype_userFamilies > div
{  
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
}
#fos_user_registration_form_roles label { display:none; }
#conference input[type=text], #conference input[type=password] { width:90%; }
/* Style pour la table de tri */
.sortable {width:980px; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none; margin:0 auto 15px}
.sortable th {background:#597d98; text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.sortable th h3 {font-size: 18px; padding:0 8px; line-height: 18px;}
.sortable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.sortable .head h3 {background:url(/img/sorter/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .desc, .sortable .asc {background:#254762;}
.sortable .desc h3 {background:url(/img/sorter/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .asc h3 {background:url(/img/sorter/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.sortable .evenrow td {background:#fff}
.sortable .oddrow td {background:#ecf2f6}
.sortable td.evenselected {background:#ecf2f6}
.sortable td.oddselected {background:#dce6ee}
#controls {width:100%; margin:0 auto; height:20px}
#perpage {float:left; width:30%; line-height: 30px;}
#perpage select {float:left; font-size:11px; width: 30%;}
#perpage span {float:left; margin:2px 0 0 5px}
#navigation {float:left; width:40%; text-align:center; line-height: 30px;}
#navigation img {cursor:pointer}
#text {float:left; width:30%; text-align:right; margin-top:2px; line-height: 30px;}
.table td.text-center { text-align: center; }

/* Début style Mathsup  */
/*  entete  */
.container-fluid { padding: 0;}
.container-fluid > header > div {width: 1000px; margin: 0 auto; height: 81px;padding-left: 40px }
.container-fluid > header > div > a, .container-fluid > header > div > nav, .container-fluid > header > div > ul { display: inline-block; vertical-align: middle;  /*width: 21%;*/ }
.container-fluid > header > div > a { margin-right: 10%; }
.container-fluid > header > div > nav { margin-right: 13.5%; min-width: 41%; }
.container-fluid > header > div > ul li { margin-left: 10px; }
.container-fluid > header ul { list-style: none; margin: 0; }
.container-fluid > header ul li { display: inline-block; }
#menu{margin-right: 80px}
#menu, #menu ul, #menu ul li { min-height: 81px; }
#menu ul li a, #menu ul li a:link, #menu ul li a:visited, #menu ul li a:active { display: block; line-height: 81px; color: #2a2a2a; font-size: 13px; padding: 0 20px; }
/*#menu ul li a:focus, .login-sign-in li:hover, .login-sign-in li:focus { background: url('/img/menu-hover.jpg') center bottom no-repeat; text-decoration: none;}*/
#menu ul li a:hover{text-decoration: none;}
#menu ul li.active a{color:#aaaaaa}
#menu ul li.active {background: url('/img/menu-hover.jpg') center bottom no-repeat; text-decoration: none;}
#menu-niveau, .container-fluid > section > header, #connexion-menu { background-image: url('/img/bg_sub_menu.jpg');background-repeat: no-repeat;background-position: center center; min-height: 80px; min-width: 1200px }
#menu-niveau ul, #menu-niveau ul li { min-height: 81px; max-width: 840px; margin: 0 auto; }
.container-fluid > section > header h1, #menu-niveau ul li a, #menu-niveau ul li a:link, #menu-niveau ul li a:active, #menu-niveau ul li a:visited { display: block; padding: 0 20px; line-height: 80px; font-size: 24px; color: white;}
#menu-niveau ul li a:hover, #menu-niveau ul li a:focus { background: url('/img/menu-niveau-hover.jpg') center bottom no-repeat; text-decoration: none; }
#menu-niveau ul li.niveauactive{background: url('/img/menu-niveau-hover.jpg') center bottom no-repeat;}

/* menu d'inscription et de connexion'*/
.login-sign-in, .login-sign-in li { min-height: 81px; line-height: 81px; }
.login-sign-in li {}
.login-sign-in li a:link, .login-sign-in li a:visited, .login-sign-in li a:active 
{ 
    padding: 5px 10px; 
    color: #d1d1d1; 
    background-color: #b2b2b2;    
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}
.login-sign-in li.insactive a{padding: 5px 10px;background-color: #009fe3; color:white}

.login-sign-in li a:hover, .login-sign-in li a:focus { background-color: #009fe3; text-decoration: none;}
/*  Formulaire de connexion  */
#connexion-menu { margin: 0; }
#connexion-menu fieldset { padding: 10px 0; }
#connexion-menu fieldset > div { display: inline-block; vertical-align: middle; max-width: 50%; text-align: left; margin-right: 100px; }
#connexion-menu fieldset > div a, #connexion-menu fieldset > div label { color: white; margin: 0; }
#connexion-menu fieldset > div a:hover, #connexion-menu fieldset > div a:focus { text-decoration: none; }
#connexion-menu fieldset > div + div input { display: inline-block; vertical-align: middle; margin: 0 20px 0 0; }
#connexion-menu fieldset > div input[type=text], #connexion-menu fieldset > div input[type=password] { min-height: 48px; padding: 0 5px; line-height: 48px; width: 200px; }
#connexion-menu fieldset > div input[type=submit] { background: url('/img/btn-ok.png') top center no-repeat; cursor: pointer;  min-height: 48px; line-height: 48px; width: 100px; color: #708b98; border: 0 none; }
/*  Contenu */
.container-fluid > section {  }
ul.dash { list-style: none; }
ul.dash li:before{
    content:"-";
    position:relative;
    margin-left: -10px; /* optional, for multiline li element */
    left: -5px;
}

.content h2{text-transform:uppercase;}
.content p span{display: block}
/*  Contenu  accueil */
.accueil .contentheader {background-image: url("/img/bg.jpg");background-repeat: no-repeat;background-position: center center; min-height: 254px; color: white; min-width: 1200px;}
.accueil .contentheader h1 { margin: 0; padding-top: 50px; font-size: 36px; text-align: center; margin-bottom: 20px;text-transform: uppercase;font-weight:lighter;}
.accueil .contentheader p { max-width: 400px; margin: 0 auto; font-size: 14px;font-weight:lighter; }
.accueil .content {background-image: url("/img/bg_content1.jpg");background-repeat: no-repeat;background-position: center center; width: 1200px; height: 300px; margin: 0 auto; text-align: center}
.accueil .content h2 { margin: 0; margin-bottom: 20px; color: #009fe3; font-size: 16px; max-width: 1000px; text-align: left; margin: 0 auto; }
.accueil .content > div { display: inline-block; vertical-align: top; width: 333px; border-right: 1px #cecece solid;  padding: 20px 0; }
.accueil .content > div:last-child { border: 0 none; }
.accueil .content > div p  {  }
.accueil .content > div p strong { display: block; }
.accueil .content > div p a { display: block; margin-top: 20px; }
/*  Slider  */
#slider-content, #slider { position: relative; max-width: 940px; margin: 40px auto; height: 252px; }
#slider { overflow: hidden;}
#slider-content > img { position: absolute; top: 50%; margin-top: -13px; }
#slider-content > img.precedent { left: -40px; }
#slider-content > img.suivant { right: -40px; }
#slider-content img { cursor: pointer; }
#slider .slider-handler { position: absolute; top: 0; left: 0; height: 252px; }
#slider .slider-handler img { float: left; }
/*  Contenu Niveau */
#btn_up, #btn_up:hover { outline: none; }
.niveau { background: #f2f2f2;  min-height: 500px; margin: 0 auto; width: 1200px;padding: 30px 0 30px 0}
.niveau .header, .niveau .footer { max-width: 1000px; margin: 0 auto; }
.niveau .header { background: #ced9e5; padding: 20px;  max-width: 960px; -webkit-border-radius: 10px; -o-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.niveau .footer { max-width: 400px; margin: 0 auto; text-align: center; margin-top: 20px; }
.niveau .footer strong, .niveau .footer a { display: block; margin-bottom: 10px;}
.niveau .footer a { margin-top: 10px; }
.niveau #tabs { }

.niveau #tabs > ul { max-width: 1000px; margin: 20px auto 0; }
.niveau #tabs > ul li { display: inline-block; }
.niveau #tabs > ul li a, .niveau #tabs > ul li a:link, .niveau #tabs > ul li a:active, .niveau #tabs > ul li a:visited { display: block; padding: 0 20px; border-right: 1px #c8c8c8 solid; font-size: 16px; color: #525252; outline: none;}
.niveau #tabs > ul li:first-child a { padding-left: 0; }
.niveau #tabs > ul li:last-child a { border: 0 none; }
.niveau #tabs > ul li.ui-state-active a { color: #009fe3; }
.niveau #tabs > ul a:hover, .niveau #tabs > ul a:focus { outline: none; text-decoration: none; }

.niveau #tabs article { }
.niveau #tabs article h1 { display: none; }
.niveau #tabs article .introduction { max-width: 1000px; margin: 0 auto; border-bottom: 1px #cecece solid; padding: 20px 0; }
.niveau #tabs article .bgblankgrey { background: #f2f2f2; padding: 20px 0; }
.niveau #tabs article .bgblank { background: #fff; border-top: 1px #cecece solid; border-bottom: 1px #cecece solid; padding: 20px 0; }
.niveau #tabs article p, .niveau #tabs article ul, .niveau #tabs article h1, .niveau #tabs article h2 { max-width: 1000px; margin: 0 auto; }
.niveau #tabs article h1, .niveau #tabs article h2 { font-size: 16px; color: #525252; }
.niveau #tabs article ul { max-width: 970px; margin: 0 auto; }
p strong.blue { display: inline-block; color: #009fe3; font-weight: normal; margin-bottom: 10px; }
.niveau #tabs article .noborder { border: 0 none; }
.niveau #tabs article .contenu-simple{padding: 20px 0;} 
/*  Contenu FAQ  */
.container-fluid > section > header h1 { text-align: center; margin: 0; }
.faq{width: 1200px;margin: 0 auto; }
.faq article p, .faq article ul, .faq article h1 { max-width: 900px; margin: 0 auto; }
.faq article p.faq-top { margin-top: 30px; }
.faq article p.faq-top strong { color: #009fe3; }
.faq article.odd { background: #3b3b3b url('/img/faq-odd.jpg') top center repeat-y; padding: 20px 0; color: #b8b8b8; border-bottom: 1px #585858 solid; }
.faq article.even { background: #323232 url('/img/faq-even.jpg') top center repeat-y; padding: 20px 0; color: #8a8a8a; border-bottom: 1px #585858 solid; }
.faq article h1 { font-size: 16px; color: white; }
.faq article ul { max-width: 870px; margin: 0 auto; }
.faq article ul ul { max-width: 840px; }
.faq article p, .faq article ul{font-weight:lighter;}
/*  Content contact  */
    /*  Ici le slider  */
.contact { background: #f2f2f2; padding-bottom: 30px; }
.contact .newsletter {  background: #fff; border-top: 1px #cecece solid; border-bottom: 1px #cecece solid; }
.contact .firswrap, .contact article  { max-width: 1000px; margin: 0 auto; }
.contact article h1, .newsletter h1 { font-size: 16px; color: #009fe3}

.contact .firswrap > article { display: inline-block; vertical-align: top; width: 75%; }
.contact .firswrap > article + article { width: 23%; margin-left: 1%; }
.contact .firswrap q { display: block; padding: 20px; background: white; border:  1px #cecece solid; margin-bottom: 20px;  
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}
.contact .firswrap cite { display: block; text-align: right;}


.contact #contactform fieldset { background: white; padding: 20px; border:  1px #cecece solid; 
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}
#contactform fieldset > div { position: relative; }
#contactform fieldset > div > div { display: inline-block; width: 240px; }
#contactform fieldset > div > div + div { position: absolute; top: 0; right: 0; margin-right: 0; }
#contactform fieldset > div > div + div + div { position: absolute; top: 80px; left: 0; margin-right: 0; }
#contactform fieldset > div > div + div + div + div { position: absolute; top: 80px; left: 295px; width: 400px; margin-right: 0;}
#contactform fieldset > div > div + div + div + div + div { position: absolute; top: 160px; left: 0; margin-right: 0; }
#icls_boutiquebundle_contacttype_message { width: 400px; height: 100px; }
#contactform input[type=text], #contactform input[type=email], #contactform select, #contactform input[type=number]{ margin-bottom: 0; background-color: #f0f0f0;height: 39px}
#contactform textarea{ margin-bottom: 0; background-color: #f0f0f0;height: 120px}
#contactform fieldset .bottomwrap { margin-top: 200px; }
#contactform fieldset .bottomwrap > div { display: inline-block; vertical-align: middle; width: 20%;}
#contactform fieldset .bottomwrap .email-send { width: 72%;  padding: 0 20px; background: #525252 url('/img/mail-send.jpg') top right no-repeat; height: 39px; line-height: 39px; color: white; }
#contactform fieldset .bottomwrap .button-send{ float: right; margin: 0; }
#contactform fieldset .bottomwrap > div button { width: 100%; height: 39px; line-height: 39px; background: #004899; color: white; border: 0 none; 
     -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
          -o-border-radius: 5px;
             border-radius: 5px;
}
#contactform ul { list-style: none; padding: 0; margin: 0; 
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
   color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.newsletter { padding: 30px 0; }
.newsletter > div { max-width: 1000px; margin: 0 auto; }
.newsletter h1, .newsletter form {  display: inline-block; vertical-align: middle; margin: 0; }
.newsletter h1 { margin-right: 17.3%; }
.newsletter input[type=text], .newsletter input[type=email] { width: 200px; padding: 10px; background: #f0f0f0; border: 2px #e5e5e5 solid; margin-right: 20px; }
.newsletter button { width: 150px; background: #004899; color: white; border: 0 none; height: 40px; line-height: 40px; 
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
          -o-border-radius: 5px;
             border-radius: 5px;
}
/*  Contenu general  */
.general-content { background: #f2f2f2; min-height: 500px; padding: 20px 0; }
.general-content article { max-width: 1000px; margin: 0 auto; }
.general-content h1, .general-content p { margin: 0; }
.general-content article h1 { max-width: 1000px; font-size: 16px; color: #009fe3; }
/*  Contenu general  */
#slider-footer { max-width: 1000px; margin: 0 auto 30px; position: relative; }
#slider-footer img { cursor: pointer; }
#slider-footer > img { position: absolute; top: 50%; margin-top: -13px; }
#slider-footer > img.previous { left: -40px; }
#slider-footer > img.next { right: -40px; }
#slider-footer ul { list-style: none; max-width: 1000px; max-height: 116px; margin: 0 auto; overflow: hidden; }
#slider-footer ul li { display: inline-block; margin-left: 20px; }
#slider-footer ul li a { display: block; }
#slider-footer ul li img { max-width: 117px; max-height: 116px;}
#slider-footer ul li:last-child a img { }
#slider-footer ul li:first-child { margin-left: 0; }
/*  Le pied de page  */
.container-fluid > footer{ background-image: url('/img/bg_footer.jpg'); background-repeat: no-repeat;background-position: center center; min-height: 65px; min-width: 1200px }
.container-fluid > footer > div { max-width: 1000px; margin: 0 auto; }
.container-fluid > footer > div p, .container-fluid > footer > div ul { display: inline-block; vertical-align: middle; min-height: 65px; margin: 0; }
.container-fluid > footer > div p { margin-right: 10%; }
.container-fluid > footer > div p, .container-fluid > footer > div ul li { line-height: 65px; }
.container-fluid > footer > div p, .container-fluid > footer ul li a { color: #818181; font-size: 13px; }
.container-fluid > footer ul { list-style: none; }
.container-fluid > footer ul li { display: inline-block; }
/*.container-fluid > footer ul li a { padding: 0 5px; border-right: 1px #818181 solid; }*/
.container-fluid > footer ul li:last-child a { border: 0 none; }
/*Inscription eleve*/
.eleve_registration label { display: none; }
.wrap-form { background: #f2f2f2; padding-bottom: 50px; }
.wrap-form h1 { font-size: 16px; color: #009fe3; }
.eleve_registration legend { width: 140px;  margin: 0; border: 0; border: 1px #cecece solid; border-bottom: 0 none; font-size: 13px; text-align: center; }
.eleve_registration legend.espace-eleve { background: white; color: #009fe3; }
.eleve_registration legend.espace-parent { background: #e5e5e5; color: #8a8a8a; }
.eleve_registration .form-wrap-inner { background: white; border: 1px #cecece solid; padding: 20px; }
.border-form { border-right: 1px #cecece solid; }
.eleve_registration input[type=text], .eleve_registration input[type=password], .eleve_registration input[type=email], .eleve_registration select, .eleve_registration textarea { background: #f0f0f0; border: 2px solid #CCCCCC; height: 26px; line-height: 26px; }
.eleve_registration textarea { height: 115px; width: 96%; margin-bottom: 0;}
.objectifs-text { margin: 0; }
.help-form { display: inline-block; margin-left: 20px; color: #009fe3; font-size: 14px; }
.eleve_registration .craue-button, .eleve_registration .wrap-left { display:inline-block; width: 87.9%; vertical-align: top; }
.eleve_registration .craue-button { width: 11.6%; }
.eleve_registration .craue-button .align-profil, .eleve_registration .craue-button .align-objectifs { display: table-cell; width: 100%; height: 215px; vertical-align: bottom; }
.eleve_registration .craue-button .align-objectifs { height: 127px;}
#registration_eleve_adresse { width: 96.5%; }
#registration_eleve_numeroPortable { float: right; }
.eleve_registration  #registration_eleve_classe { height: 38px; line-height: 38px; padding: 8px 6px; }
.craue_poursuivre { border: 0 none; padding: 0; }
.parent-title { background: url('/img/parent-title.png') top left; width: 255px; padding: 0 10px; height: 38px; line-height: 38px; color: white; font-size: 13px; float: left; margin-bottom: 0;}
.parent-field { float: left; width: 250px; margin-left: 20px; margin-bottom: 0;}
.parent-field  input { width: 92%; margin: 0; }

