{% extends "::layout.html.twig" %}

{# On retire le menu niveau #}
{% block menuNiveau %}{% endblock %}

{% block content %}
     
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

{% block fos_user_content %}    
{% endblock fos_user_content %}     

{% endblock %}