{% extends "::layout.html.twig" %}

{% block content %}
<section class="span9">
    {% block navbaruser %}
        {% include "MspFrontendBundle:Navbar:professeur.html.twig" %}
    {% endblock %}
    {% block body %}
    {% endblock %}
     
</section>
{% endblock %}